manifest {
    author = 'Angel Angelov'
    name = 'nextflow-kraken2'
    description = 'A simple nextflow pipeline for running kraken2 and bracken in a docker container'
    homePage = 'https://github.com/angelovangel/nextflow-kraken2'
    nextflowVersion = '>=20.00'
}

process.container = 'aangeloo/kraken2:latest'
docker.enabled = false
process.conda = "$baseDir/environment.yml"
process.executor = 'pbspro'
process.queueSize= 100

profiles {

    test {
        
        params.readsdir = "$baseDir/testdata/"
        params.fqpattern = "*R{1,2}.fastq.gz"
        params.weakmem = true
        // the smallest possible dataset, makes no sense though
        params.kraken_db = "/share/data/sysbiomics/db/kraken2_db/k2_standard_16gb_20201202"
        params.kaiju_db = "plasmids"
    }

    test_nanopore {
        params.ontreads = true
        params.kraken_db = "/share/data/sysbiomics/db/kraken2_db/k2_standard_8gb_20201202/"
        params.weakmem = true
        params.fqpattern = "*test.fastq" // "zymo-test.fastq"
        params.readsdir = "$baseDir/testdata/"
    }
}

// vi: ft=groovy
